<hibernate-configuration>
    <session-factory>
        <!--Sql settings-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!--Database settings-->
        <property name="connection.url">jdbc:mysql://www.fontys-project.nl:3306/reinoud?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">Zien</property>
        <property name="connection.password">Habibke</property>

        <!--Hibernate settings-->
        <!--<property name="hbm2ddl.auto">create</property>-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!--Mappings-->
        <mapping class="_shared.Models.Bestelling"/>
        <mapping class="_shared.Models.Klant"/>
        <mapping class="_shared.Models.Product"/>


    </session-factory>
</hibernate-configuration>